
  <tr>
      <td> 
          <% if product.image %>
               <p><%= image_tag product.image, :width => '150', :height => '150' %></p>
          <% end %>
      </td>
      <td>
          <p><h3><%= product.name %></h3></p> 
          <p><%= product.description %></p>
          <p>Category: <%= product.category.name %></p>
      </td>
      <td><%= number_to_currency product.price %></td>
  </tr>
