



	<header>
		<h1><%= image_tag "logo.jpg", :width => '50', :height => '50' %>Beta Chicken Curling</h1>
		<%= form_tag search_results_path do %>
		<%= text_field_tag :keywords %>
		<%= submit_tag "search" %>
		<% end %>
	<section id = "navigation">
		<nav>
				<ul>
					<%= render @categories %>
				</ul>
		</nav>
		</section>
	</header>
	<div id = "content">
		<%= paginate @products %>
		<table>


			<%= render @products %>
		</table>
	</div>
	<footer>
		<section id = "navigationTwo">
		<nav>
			<ul>
					<li>Home</li>
					<li>About Us</li>
					<li>Contact Us</li>
			</ul>		
		</nav>
		</section>

	

	</footer>

