<html lang="en">
<head>
	<title>BetaChickenCurling</title>
	<%= stylesheet_link_tag    "square", :media => "all" %>
</head>
<body>
	<header>
		<h1>Beta Chicken Curling</h1>
		<%= form_tag search_results_path do %>
		<%= text_field_tag :keywords %>
		<%= submit_tag "search" %>
		<% end %>
	<section id = "navigation">
		<nav>
				<ul>
					<%= render @categories %>
				</ul>
		</nav>
		</section>
	</header>
	<div id = "content">
		<h2>Search Results</h2>
		<table>
			<% if @products.empty? %>
  					<p>Sorry your search for '<%= params[:keywords] %>' returned no results.</p>
			<% end %>

			<%= render @products %>
		</table>
	</div>
	<footer>
		<section id = "navigationTwo">
		<nav>
			<ul>
					<li><%= link_to "Home", "/" %></li>
					<li>Products</li>
					<li>About Us</li>
					<li>Contact Us</li>
			</ul>		
		</nav>
		</section>

	</footer>
</body>
</html>
